<link href="../static/css/shopletters.css" rel="stylesheet" type="text/css">
<p>{%extends 'base.html' %}
  {% load static %}
  
  {% block titulo%} Eventos {% endblock titulo %}
  
  {%block titulo_cabecera%} EVENTOS {%endblock titulo_cabecera%}
  {%block descripcion%}Linea de tiempo de eventos anteriores{%endblock descripcion%}
  
  {% block contenido%}</p>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td bgcolor="#FFD883"><div class="container">
        <div class="row">
          <div class="page-wrapper">
            <h3 class="marron"><u>ESCULTORES EN EL IMPENETRABLE</u></h3>
            <h4 class="marron"><u>Reseña de encuentros anteriores : </u></h4>
            <p> <span class="marron"><b>2013</b>: Encuentro de Escultores del Impenetrable: <b>“Especies en Extinción”</b> – 17 al 22 de junio 2013.<br>
                <b>Material</b>: madera de palo santo.<br>
              <br>
              <b>2014</b>: Encuentro de Escultores del Impenetrable: <b>“Guardianes del Monte”</b> – 27 de octubre al 1 de noviembre de 2014.<br>
              <b>Material</b>: cerámica.<br>
              <br>
              <b>2015</b>: Encuentro de Escultores en el Impenetrable: <b>“Mitos y Leyendas”</b> – 4 al 11 de junio de 2015.<br>
              <b>Material</b>: Madera de Palo Santo.<br>
              <br>
              <b>2016</b>: Encuentro Internacional de Escultores en el Impenetrable 2016: <b>“Sonidos del Monte”</b> – 26 al 31 de julio de 2016.<br>
              <b>Material</b>: Mármol, acero y Palo Santo.<br>
              <br>
              <b>2017</b>: Encuentro de escultores en el Impenetrable 2017: <b>“El origen”</b> – 10 al 15 de julio de 2017.<br>
              <b>Material</b>: madera de Palo Santo.<br>
              <br>
              <b>2018</b>: Encuentro Internacional de Escultores en el Impenetrable 2018: <b>“Fuerza Natural”</b> – 24 al 28 de julio.<br>
              <b>Material</b>: Mármol, acero y Palo Santo.<br>
              <br>
              <b>2019</b>: Encuentro de Escultores en el Impenetrable 2019: <b>“Instinto”</b> – 25 al 30 de junio.<br>
              <b>Material</b>: Palo Santo<br>
              <br>
              <b>2022</b>: Encuentro de Escultores en el Impenetrable 2022: <b>“Eternidad”</b> – 26 al 31 de julio.<br>
              <b>Material</b>: -----<br>
              <br>
              <b>2023</b>: Encuentro de Escultores en el Impenetrable 2023: <b>PROXIMAMENTE</b> – 19 al 26 de junio.<br>
              <b>Material</b>: -----<br>
              <br>
            </span>            </p>
          </div>
        </div>
      </div></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
 {% endblock contenido%}