<link href="../static/css/shopletters.css" rel="stylesheet" type="text/css">
{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<table width="100%" border="2" cellspacing="0" cellpadding="5">
	  <tbody>
	    <tr>
	      <td bgcolor="#FFD883"><p class="marron"><u>PRESENTACIÓN</u></p>
	        <p class="marron"><u> Fundación  Amigos del Arte y Turismo: </u></p>
	        <p> <span class="marron">La Fundación tiene su  origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre  de 2012, acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz  (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y  Fabriciano Gómez (presidente de la Fundación Urunday y autor de la obra &ldquo;El  Portal del Impenetrable&rdquo;). En ese acto Fabriciano propone la idea de organizar  un encuentro de escultores en la Plaza San Martín, en junio de 2013. <br>
            El 1º de marzo de 2015  quedó formalmente constituida la Fundación Amigos del Arte y Turismo, con la  siguiente conformación del consejo:&nbsp; </span></p>
            <p class="marron">Presidente: Dr. Alfredo  Lázara Valdéz; Vicepresidente: DG René Bertolucci; Secretaria: Prof. Elena Díaz  de Lázara; Tesorera: Arq. Yolanda M. Rausch; Vocal: Dr. Jorge Kleisinger. <br>
            Desde el año 2012,  contamos con el apoyo, asesoramiento y acompañamiento de la&nbsp; <br>
            Fundación Urunday,  principalmente en la persona de Fabriciano Gómez.</p>
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tbody>
                <tr>
                  <td><img src="../static/img/actual.jpg"  style="width:50%; height:auto; margin:0 auto;  alt=""/></td>
                </tr>
                <tr>
                  <td><img src="../static/img/cede.jpg"  style="width:50%; height:auto; margin:0 auto;  alt=""/></td>
                </tr>
              </tbody>
            </table>
            <p>&nbsp; </p>
            <hr>
            <p class="marron"><u>RECUPERACIÓN DE PATRIMONIO HISTÓRICO</u>: <br>
            En febrero de 2015, la  Municipalidad de Juan José Castelli nos cedió en comodato el antiguo edificio  de la primera escuela primaria de la ciudad, la Escuela Nacional Nº 255. A  partir de ese momento comenzamos a elaborar el proyecto de recuperación del  mismo.&nbsp; <br>
            Luego del Encuentro de  2015, comenzaron las obras de la primera etapa, con la colaboración del  Municipio con los materiales, y la Fundación aportó la mano de obra. <br>
            El 7 de julio de 2016 se  inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora  funciona como sede de nuestra Fundación. </p>
            <hr>
            <p class="marron"><u>RESEÑA DE LOS ENCUENTROS ANTERIORES</u>: <br>
            2013: Encuentro de  Escultores del Impenetrable: &ldquo;Especies en Extinción&rdquo; – 17 al 22 de junio 2013.  Material: madera de palo santo. <br>
            2014: Encuentro de  Escultores del Impenetrable: &ldquo;Guardianes del Monte&rdquo; – 27 de octubre al 1 de  noviembre de 2014. Material: cerámica. <br>
            2015: Encuentro de  Escultores en el Impenetrable:&rdquo; Mitos y Leyendas&rdquo;4 al 11 de junio de 2015. Material:  Madera de Palo Santo. <br>
            2016: Encuentro  Internacional de Escultores en el Impenetrable 2016: &ldquo;Sonidos del Monte&rdquo; del 26  al 31 de julio de 2016. Material: Mármol, acero y Palo Santo. <br>
            2017: Encuentro de  escultores en el Impenetrable 2017: &ldquo;El origen&rdquo; – 10 al 15 de julio de 2017.  Material: madera de Palo Santo. <br>
            2018: Encuentro  Internacional de Escultores en el Impenetrable 2018: &ldquo;Fuerza Natural&rdquo; del 24 al  28 de julio. Material: Mármol, acero y Palo Santo. <br>
            2019: Encuentro de  Escultores en el Impenetrable 2019: &ldquo;Instinto&rdquo; del 25 al 30 de junio. Material:  Palo Santo </p>
            <hr>
            <p class="marron"><u>CONFORMACIÓN ACTUAL DE  LA COMISIÓN</u>: <br>
            Presidente: DG Rene  Bertolucci <br>
            Vicepresidente: Arq.  Yolanda M. Rausch <br>
            Secretaria: Prof. Marisa  Santamaría <br>
            Tesorera: Prof. Elena  Díaz de Lázara <br>
            Vocal: Dr. Jorge  Kleisinger </p>
<p>&nbsp;</p>
          <p class="marron"><strong><u>MISIÓN :</u></strong> <br>
            Ser partícipes del  desarrollo cultural, brindar oportunidades y capacitación del Arte y hacer del  mismo un atractivo turístico. </p>
          <p class="marron"><strong><u>VISIÓN</u></strong> <br>
            Sacar a la luz lo que  late en el Impenetrable.&nbsp; </p>
          <p class="marron"><strong><u>OBJETIVOS GENERALES</u></strong> <br>
            • Velar por nuestro rico  patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes  expresiones de nuestra identidad. <br>
            • Estimular y divulgar  el arte y el turismo y fomentarlos como fuente de superación de las personas de  nuestra comunidad y darlo a conocer. </p>
          <p class="marron"><strong><u>OBJETIVOS ESPECÍFICOS</u></strong> <br>
            • Organizar eventos de  cualquier naturaleza con carácter regional, nacional e internacional en pro del  desarrollo del arte y el turismo. <br>
            • Impulsar el turismo  revitalizando las artes tradicionales y la industria artesanal de la zona a  través de la comercialización de los productos locales y de otros recursos de  aquellas localidades marginadas por la desindustrialización o el aislamiento. <br>
            • Proteger y restaurar  nuestro patrimonio cultural y artístico. <br>
            • Organizar encuentros  culturales, espectáculos y otros acontecimientos que contribuyan a divulgar  nuestra idiosincrasia. <br>
            • Desarrollar programas  de formación y capacitación que estén íntimamente relacionados con la misión de  la fundación. <br>
            • Generar muestras  públicas de contemplación de técnicas y observación de creación de obras  artísticas celebrando exposiciones temáticas con artistas invitados. <br>
            • Ayudar y colaborar en  proyectos públicos o privados en los que se combinen cultura y turismo (rutas  literarias, rutas históricas, etc.) con mayor intensidad en lo que se refiere a  la colaboración recíproca con otras Fundaciones culturales o de otros fines que  coadyuven en la promoción de la cultura. <br>
            • Apoyar proyectos  educativos, culturales destinados a destacar la importancia de la cultura. <br>
            • Desarrollar e impulsar  el turismo interior en el Impenetrable en sintonía con la tendencia en alza del  turismo alternativo (cultura y naturaleza). <br>
            • Promover actividades  de formación en el conocimiento de la cultura. <br>
          • Potenciar Castelli y  su región como destino turístico. </p>
          <p class="marron">&nbsp;</p></td>
        </tr>
      </tbody>
</table>
	<h2>&nbsp;</h2>
{% endblock contenido %}

