<link href="../static/css/shopletters.css" rel="stylesheet" type="text/css">
{% extends 'base.html'%}
{% load static %}
{% block titulo %} Amigos del Arte y Turismo {%  endblock titulo %}

{% block contenido%}
<h2>&nbsp;</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td bgcolor="#FFD883"><p class="xbig"><u>Amigos del Arte y Turismo</u></p>
        <p class="marron"><strong>MISIÓN</strong> <br>
          Ser partícipes del  desarrollo cultural, brindar oportunidades y capacitación del Arte y hacer del  mismo un atractivo turístico. </p>
      <p class="marron"><strong>VISIÓN</strong> <br>
        Sacar a la luz lo que  late en el Impenetrable.&nbsp; </p>
      <p class="marron"><strong>OBJETIVOS GENERALES</strong> <br>
        • Velar por nuestro rico  patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes  expresiones de nuestra identidad. <br>
        • Estimular y divulgar  el arte y el turismo y fomentarlos como fuente de superación de las personas de  nuestra comunidad y darlo a conocer. </p>
      <p class="marron"><strong>OBJETIVOS ESPECÍFICOS</strong> <br>
        • Organizar eventos de  cualquier naturaleza con carácter regional, nacional e internacional en pro del  desarrollo del arte y el turismo. <br>
        • Impulsar el turismo  revitalizando las artes tradicionales y la industria artesanal de la zona a  través de la comercialización de los productos locales y de otros recursos de  aquellas localidades marginadas por la desindustrialización o el aislamiento. <br>
        • Proteger y restaurar  nuestro patrimonio cultural y artístico. <br>
        • Organizar encuentros  culturales, espectáculos y otros acontecimientos que contribuyan a divulgar  nuestra idiosincrasia. <br>
        • Desarrollar programas  de formación y capacitación que estén íntimamente relacionados con la misión de  la fundación. <br>
        • Generar muestras  públicas de contemplación de técnicas y observación de creación de obras  artísticas celebrando exposiciones temáticas con artistas invitados. <br>
        • Ayudar y colaborar en  proyectos públicos o privados en los que se combinen cultura y turismo (rutas  literarias, rutas históricas, etc.) con mayor intensidad en lo que se refiere a  la colaboración recíproca con otras Fundaciones culturales o de otros fines que  coadyuven en la promoción de la cultura. <br>
        • Apoyar proyectos  educativos, culturales destinados a destacar la importancia de la cultura. <br>
        • Desarrollar e impulsar  el turismo interior en el Impenetrable en sintonía con la tendencia en alza del  turismo alternativo (cultura y naturaleza). <br>
        • Promover actividades  de formación en el conocimiento de la cultura. <br>
      • Potenciar Castelli y  su región como destino turístico. </p></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
{% endblock contenido %}

{% block contenido2 %}
<h2>--</h2>
{% endblock contenido2 %}