<link href="../static/css/shopletters.css" rel="stylesheet" type="text/css">
{% extends 'base.html'%}
{% load static %}
{% block titulo %} Amigos del Arte y Turismo. QUIENES SOMOS {%  endblock titulo %}

{% block contenido%}
<h2>&nbsp;</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td bgcolor="#FFD883"><p><span class="marron">Quienes somos ...</span></p>
      <p class="marron">1-         <u>PRESENTACIÓN Fundación Amigos del Arte  y Turismo: <br>
      </u> La Fundación tiene su  origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre  de 2012, acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz  (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y  Fabriciano Gómez (presidente de la Fundación Urunday y autor de la obra &ldquo;El  Portal del Impenetrable&rdquo;). En ese acto Fabriciano propone la idea de organizar  un encuentro de escultores en la Plaza San Martín, en junio de 2013. <br>
El 1º de marzo de 2015  quedó formalmente constituida la Fundación Amigos del Arte y Turismo, con la  siguiente conformación del consejo:&nbsp; </p>
      <p class="marron">Presidente: Dr. Alfredo  Lázara Valdéz; Vicepresidente: DG René Bertolucci; Secretaria: Prof. Elena Díaz  de Lázara; Tesorera: Arq. Yolanda M. Rausch; Vocal: Dr. Jorge Kleisinger. <br>
        Desde el año 2012,  contamos con el apoyo, asesoramiento y acompañamiento de la&nbsp; <br>
        Fundación Urunday,  principalmente en la persona de Fabriciano Gómez. </p>
      <p class="marron">2-         <u>RECUPERACIÓN DE PATRIMONIO HISTÓRICO:</u><br>
        En febrero de 2015, la  Municipalidad de Juan José Castelli nos cedió en comodato el antiguo edificio  de la primera escuela primaria de la ciudad, la Escuela Nacional Nº 255. A  partir de ese momento comenzamos a elaborar el proyecto de recuperación del  mismo.&nbsp; <br>
        Luego del Encuentro de  2015, comenzaron las obras de la primera etapa, con la colaboración del  Municipio con los materiales, y la Fundación aportó la mano de obra. <br>
        El 7 de julio de 2016 se  inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora  funciona como sede de nuestra Fundación. </p>
      <p class="marron">3-         <u>RESEÑA DE LOS ENCUENTROS ANTERIORES:</u><br>
        2013: Encuentro de  Escultores del Impenetrable: &ldquo;Especies en Extinción&rdquo; – 17 al 22 de junio 2013.  Material: madera de palo santo. <br>
        2014: Encuentro de  Escultores del Impenetrable: &ldquo;Guardianes del Monte&rdquo; – 27 de octubre al 1 de  noviembre de 2014. Material: cerámica. <br>
        2015: Encuentro de  Escultores en el Impenetrable:&rdquo; Mitos y Leyendas&rdquo;4 al 11 de junio de 2015.  Material: Madera de Palo Santo. <br>
        2016: Encuentro  Internacional de Escultores en el Impenetrable 2016: &ldquo;Sonidos del Monte&rdquo; del 26  al 31 de julio de 2016. Material: Mármol, acero y Palo Santo. <br>
        2017: Encuentro de  escultores en el Impenetrable 2017: &ldquo;El origen&rdquo; – 10 al 15 de julio de 2017.  Material: madera de Palo Santo. <br>
        2018: Encuentro  Internacional de Escultores en el Impenetrable 2018: &ldquo;Fuerza Natural&rdquo; del 24 al  28 de julio. Material: Mármol, acero y Palo Santo. <br>
        2019: Encuentro de  Escultores en el Impenetrable 2019: &ldquo;Instinto&rdquo; del 25 al 30 de junio. Material:  Palo Santo </p>
      <p class="Arial">&nbsp;</p></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>{% endblock contenido %}
  
  {% block contenido2 %} </p>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td bgcolor="#FFD883"><p class="marron"><u>CONFORMACIÓN ACTUAL DE  LA COMISIÓN:</u><br>
        Presidente: DG Rene  Bertolucci <br>
        Vicepresidente: Arq.  Yolanda M. Rausch <br>
        Secretaria: Prof. Marisa  Santamaría <br>
        Tesorera: Prof. Elena  Díaz de Lázara <br>
      Vocal: Dr. Jorge  Kleisinger </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
    </tr>
  </tbody>
</table>
<p> {% endblock contenido2 %}</p>